* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* Administrator */
.administrator {
    text-align: center;
    width: 100%;
    padding: 30px;
}

.navigation {
    border-bottom: 1px solid #aca1a1;
}

.image {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    overflow: hidden;
}

.logoutButton {
    margin-bottom: 30px;
    padding: 4px 20px;
    background-color: skyblue;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoutButton a {
    color: black;
    text-decoration: none;
}

.logoutButton:hover {
    background-color: teal;
}

/* Sidebar */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 70px;
    gap: 15px;
    width: 100%;
    padding: 20px;
    text-align: start;
}

.nav ul li {
    display: inline-block;
    list-style: none;
}

.nav ul li a {
    color: black;
    text-decoration: none;
}

.nav ul li p {
    text-decoration: underline;
}

/* Article */
article {
    flex-grow: 1;
    border-left: 1px solid #aca1a1;
}

.Dashboard {
    background-color: teal;
}

article h3 {
    padding: 20px;
}

.total {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.Doctor,
.Patient {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    height: 20vh;
    flex: 1 1 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Doctor span,
.Patient span {
    height: 7vh;
    width: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
    .container {
        flex-direction: row;
        max-width: 1920px;
    }

    .administrator {
        width: 15%;
    }

    .nav {
        width: 5%;
        margin-left: 85px;
    }

    .Doctor,
    .Patient {
        flex: 1 1 30%;
    }
}

@media (max-width: 1199px) {
    .container {
        flex-direction: column;
    }

    .administrator {
        width: 100%;
    }

    .nav {
        width: 100%;
        margin-left: 0;
    }

    .Doctor,
    .Patient {
        flex: 1 1 100%;
    }
}
